body {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 0px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 62px;
  line-height: 1;
}

/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 18px;
}

